<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>remoteLoggingServlet</servlet-name>
        <servlet-class>server.hello_module.MyRemoteLoggingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>remoteLoggingServlet</servlet-name>
        <url-pattern>/main/remote_logging</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>remoteLoggingServlet</servlet-name>
        <url-pattern>/hello/remote_logging</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>help</servlet-name>
        <servlet-class>server.shared.HelpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>help</servlet-name>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>greetingServiceServlet</servlet-name>
        <servlet-class>server.main_module.GreetingServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>greetingServiceServlet</servlet-name>
        <url-pattern>/main/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>greetingServiceServlet</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fileUploadServlet</servlet-name>
        <servlet-class>server.upload_module.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!-- Loads Spring Security config file -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring-security.xml
        </param-value>
    </context-param>

    <!-- Spring Security -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
